adjustText==0.7.3
kt_legacy==1.0.4
matplotlib==3.5.1
numpy==1.22.3
pandas==1.4.1
Pillow==9.0.1
requests==2.27.1
scikit_learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
tensorflow==2.8.0
tensorflow_probability==0.16.0
urllib3==1.26.9
xlrd==2.0.1
elementy
metallurgy
cerebral
